/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #4CAF50;
}

.city-select {
  margin-bottom: 30px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.weather-info {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 100%;
  width: 100%;
}

.weather-info p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

h2 {
  font-size: 1.8em;
  color: #333;
}
