* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 1200px; /* Aumenta a largura máxima para telas maiores */
  margin: 10% auto;
  background: rgba(255, 255, 255, 0.3); /* Aumenta a opacidade do fundo */
  padding: 60px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-bottom: 40px; 
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #030303;
}

.city-select {
  margin-bottom: 30px;
  font-size: medium;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.weather-info {
  background: rgba(236, 233, 233, 0.8);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* Distribui os cards uniformemente */
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha */

}

.card {
  height: 90px;
  flex: 1 1 200px; /* Pode crescer, encolher e ter largura mínima de 200px */
  background: rgba(236, 233, 233, 0.9); /* Aumenta a opacidade do fundo dos cards */
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  text-align: center;
}

@media (max-width: 768px) {
  .weather-info {
    flex-direction: column; /* Alinha os cards verticalmente em telas menores */
  }

  .card {
    flex: 1 1 100%; /* Faz com que os cards ocupem 100% da largura em telas pequenas */
  }
}