* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.container {
  width: 90%;
  max-width: 80%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 40px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #030303;
}

.city-select {
  margin-bottom: 30px;
  font-size: medium;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.weather-info {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 200px;
  background: rgba(236, 233, 233, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  text-align: center;
}

@media (max-width: 768px) {
  .weather-info {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }
}